<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Mongo Rotten Tomatoes Scraper</title>
    <!-- CSS  -->
    <link href="assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    {{{ body }}}

    <!-- FOOTER -->
    <footer>
        <div class="container">
            <h5>
                Recent news from <a href="https://editorial.rottentomatoes.com/news/">Rotten Tomatoes.</a>
            </h5>
        </div>
    </footer>
</body>

</html>